{{define "title"}}{{.Site.Title}}{{end}}

{{define "content"}}
<h2 class="index-heading">Recent Posts</h2>
{{if .Posts}}
<ul class="post-list">
  {{range .Posts}}
  <li>
    <h2><a href="/posts/{{.Slug}}.html">{{.Title}}</a></h2>
    {{if not .Date.IsZero}}<time datetime="{{.Date.Format "2006-01-02"}}">{{.Date.Format "January 2, 2006"}}</time>{{end}}
    {{if .Description}}<p class="desc">{{.Description}}</p>{{end}}
  </li>
  {{end}}
</ul>
{{else}}
<p>No posts yet. Add Markdown files to the <code>posts/</code> directory and run <code>go run main.go build</code>.</p>
{{end}}
{{end}}
