{{define "title"}}#{{.Tag}} - {{.Site.Title}}{{end}}

{{define "content"}}
<a href="./" class="back-link">← All posts</a>
<h2 class="index-heading">Posts tagged &#34;{{.Tag}}&#34;</h2>
{{if .Posts}}
<ul class="post-list">
  {{range .Posts}}
  <li>
    <h2><a href="posts/{{.Slug}}/">{{.Title}}</a></h2>
    {{if not .Date.IsZero}}<time datetime="{{.Date.Format "2006-01-02"}}">{{.Date.Format "January 2, 2006"}}</time>{{end}}
    {{if .Description}}<p class="desc">{{.Description}}</p>{{end}}
  </li>
  {{end}}
</ul>
{{else}}
<p>No posts found for this tag.</p>
{{end}}
{{end}}
